body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.footer {
    position: bottom;
    left: 0;
    height: 117px;
    bottom: 0;
    width: 100%;
    background-color: #2d2c9c;
    color: white;
    text-align: left;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    background: #2d2c9c;
    height: 80px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 90px;
    height: 80px;
    margin-right: 5px;
}

.menu {
    float: right;
    list-style: none;
    margin: 20px;
}

.menu li {
    display: inline-block;
    margin: 10px 5px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    margin-left: 7px;
    padding: 13px 10 px;
    font-family: Century Gothic;
    letter-spacing: 2px;
}

.menu li a:hover {
    background: #444;
    transition: 0.3s ease all;
    color: #000;
}

#rcorners1 {
    color: white;
    font-weight: bold;
    border-radius: 15px;
    background: #ffd000;
    padding: 20px;
    width: 200px;
}

#rcorners5 {
    background: #444;
    font-weight: bold;
    border-radius: 15px;
    background: #00a4f0;
    padding: 20px;
    width: 200px;
}

#fr {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background: #444;
}