* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    background: #2d2c9c;
    height: 80px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 90px;
    height: 80px;
    margin-right: 5px;
}

.menu {
    float: right;
    list-style: none;
    margin: 20px;
}

.menu li {
    display: inline-block;
    margin: 10px 5px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    margin-left: 7px;
    padding: 13px 10 px;
    font-family: Century Gothic;
    letter-spacing: 2px;
}

.menu li a:hover {
    background: #444;
    transition: 0.3s ease all;
    color: #000;
}

#rcorners1 {
    color: white;
    font-weight: bold;
    border-radius: 15px;
    background: #bf5708;
    padding: 20px;
    width: 200px;
}

#rcorners2 {
    color: white;
    font-weight: bold;
    border-radius: 15px;
    background: #bd5409;
    padding: 20px;
    width: 200px;
}

#rcorners5 {
    background: #444;
    font-weight: bold;
    border-radius: 15px;
    background: #00a4f0;
    padding: 20px;
    width: 200px;
}

#fr {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background: #444;
}

* {
    box-sizing: border-box
}

.footer {
    position: bottom;
    left: 0;
    height: 117px;
    bottom: 0;
    width: 100%;
    background-color: #2d2c9c;
    color: white;
    text-align: left;
}